<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="activity">
            <h2><span jhiTranslate="jhipsterpressApp.activity.detail.title">Activity</span> {{activity.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterpressApp.activity.activityName">Activity Name</span></dt>
                <dd>
                    <span>{{activity.activityName}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.activity.uprofile">Uprofile</span></dt>
                <dd>
                    <span *ngFor="let uprofile of activity.uprofiles; let last = last">
                        <img [src]="'data:' + uprofile.imageContentType + ';base64,' + uprofile.image" style="max-height: 100px;" *ngIf="uprofile.image" alt="uprofile image"/>
                        <a [routerLink]="['/uprofile', uprofile?.id, 'view' ]">{{uprofile.userFirstName}} {{uprofile.userFirstName}}</a>{{last ? '' : ', '}}<br>
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
			<!-- 
            <button type="button"
                    [routerLink]="['/activity', activity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
             -->
        </div>
    </div>
</div>
