<div class="row justify-content-center">
    <div class="col-8">  
	    <jhi-alert></jhi-alert>
	    
	    <!-- Profile Content -->
		<div class="col-lg-9" *ngIf="uprofiles">
		  <!-- User Contacts -->
		  <div class="row g-mb-40">
		    <div class="col-md-4 g-mb-30 g-mb-0--md" *ngFor="let uprofile of uprofiles ;trackBy: trackId">
		      <!-- Figure -->
		      <figure class="g-bg-white g-brd-around g-brd-gray-light-v4 g-brd-cyan--hover g-transition-0_2 text-center">
		        <div class="g-py-40 g-px-20">
		          <!-- Figure Image -->
		          <a *ngIf="uprofile.image" [routerLink]="['/uprofile', uprofile.id, 'view' ]">
	                  <img class="g-width-100 g-height-100 rounded-circle g-mb-20" 
	                  [src]="'data:' + uprofile.imageContentType + ';base64,' + uprofile.image" alt="uprofile image"/>
	              </a>
		          <!-- Figure Image -->
		
		          <!-- Figure Info -->
		          <a [routerLink]="['/uprofile', uprofile.id, 'view' ]">
		          	<h4 class="h5 g-mb-5">{{uprofile.userFirstName}} {{uprofile.userLastName}}</h4>
		          </a>
		          <div class="d-block">
		            <span class="g-color-cyan g-font-size-default g-mr-3">
		              <!-- <i class="icon-user"></i>  -->
		            </span>
		            <!-- <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-default">Employee</em> -->
		          </div>
		          <!-- End Figure Info -->
		        </div>
		
		        <hr class="g-brd-gray-light-v4 g-my-0">
		
		        <!-- Figure List --
		        <ul class="row list-inline g-py-20 g-ma-0">
		          <li class="col g-brd-right g-brd-gray-light-v4">
		            <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" href="#!">
		              <i class="icon-speech"></i>
		            </a>
		          </li>
		          <li class="col g-brd-right g-brd-gray-light-v4">
		            <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-red--hover" href="#!">
		              <i class="icon-envelope-letter"></i>
		            </a>
		          </li>
		          <li class="col">
		            <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-purple--hover" href="#!">
		              <i class="icon-screen-smartphone"></i>
		            </a>
		          </li>
		        </ul>
		        -- End Figure List -->
		      </figure>
		      <!-- End Figure -->
		    </div>
		</div>
		<!-- End Profile Content -->
		</div>
		<br/>
	    
		<div class="row">
		    <div class="col-sm-12">
		        <form name="searchForm" class="form-inline">
		            <div class="input-group w-100 mt-3">
		                <label class="col-sm-3 col-form-label g-mb-10" for="autocomplete2">Bio search: Traducir JHI</label> 
		                <input type="text" class="form-control" [(ngModel)]="bioSearchTerm" id="bioSearchTerm" name="bioSearchTerm" placeholder="{{ 'jhipsterpressApp.post.home.search' | translate }}">
		                <button class="input-group-append btn btn-info" (click)="bioSearch(bioSearchTerm)">
		                    <fa-icon [icon]="'search'"></fa-icon>
		                </button>
		                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="bioSearchTerm">
		                    <fa-icon [icon]="'trash-alt'"></fa-icon>
		                </button>
		            </div>
		        </form>
		    </div>
		</div>
		
		<div class="row">
		    <div class="col-sm-12">
		        <form name="searchForm" class="form-inline">
		            <div class="input-group w-100 mt-3">
		                <label class="col-sm-3 col-form-label g-mb-10" for="autocomplete2">Gender: jhiTranslate="jhipsterpressApp.uprofile.home.title</label> 
		                <select class="form-control" name="gender" [(ngModel)]="genderSearchTerm" id="field_gender" >
                        <option value="MALE">{{'jhipsterpressApp.Gender.MALE' | translate}}</option>
                        <option value="FEMALE">{{'jhipsterpressApp.Gender.FEMALE' | translate}}</option>
                        <option value="OTHER">{{'jhipsterpressApp.Gender.OTHER' | translate}}</option>
                    </select>
		                <button class="input-group-append btn btn-info" (click)="genderSearch(genderSearchTerm)">
		                    <fa-icon [icon]="'search'"></fa-icon>
		                </button>
		                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="genderSearchTerm">
		                    <fa-icon [icon]="'trash-alt'"></fa-icon>
		                </button>
		            </div>
		        </form>
		    </div>
		</div>
		
		<div class="row">
		    <div class="col-sm-12">
		        <form name="searchForm" class="form-inline">
		            <div class="input-group w-100 mt-3">
		                <label class="col-sm-3 col-form-label g-mb-10" for="autocomplete2">CivilStatus:</label> 
	                    <select class="form-control" name="civilStatus" [(ngModel)]="civilStatusSearchTerm" id="field_civilStatus" >
	                        <option value="NA">{{'jhipsterpressApp.CivilStatus.NA' | translate}}</option>
	                        <option value="SINGLE">{{'jhipsterpressApp.CivilStatus.SINGLE' | translate}}</option>
	                        <option value="MARRIED">{{'jhipsterpressApp.CivilStatus.MARRIED' | translate}}</option>
	                        <option value="DIVORCED">{{'jhipsterpressApp.CivilStatus.DIVORCED' | translate}}</option>
	                        <option value="WIDOWER">{{'jhipsterpressApp.CivilStatus.WIDOWER' | translate}}</option>
	                        <option value="SEPARATED">{{'jhipsterpressApp.CivilStatus.SEPARATED' | translate}}</option>
	                        <option value="ENGAGED">{{'jhipsterpressApp.CivilStatus.ENGAGED' | translate}}</option>
	                        <option value="OTHER">{{'jhipsterpressApp.CivilStatus.OTHER' | translate}}</option>
	                    </select>
		                <button class="input-group-append btn btn-info" (click)="civilStatusSearch(civilStatusSearchTerm)">
		                    <fa-icon [icon]="'search'"></fa-icon>
		                </button>
		                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="civilStatusSearch">
		                    <fa-icon [icon]="'trash-alt'"></fa-icon>
		                </button>
		            </div>
		        </form>
		    </div>
		</div>
		
		<div class="row">
		    <div class="col-sm-12">
		        <form name="searchForm" class="form-inline">
		            <div class="input-group w-100 mt-3">
		                <label class="col-sm-3 col-form-label g-mb-10" for="autocomplete2">lookingFor:</label> 
	                    <select class="form-control" name="lookingFor" [(ngModel)]="lookingForSearchTerm" id="field_lookingFor" >
	                        <option value="MALE">{{'jhipsterpressApp.Gender.MALE' | translate}}</option>
	                        <option value="FEMALE">{{'jhipsterpressApp.Gender.FEMALE' | translate}}</option>
	                        <option value="OTHER">{{'jhipsterpressApp.Gender.OTHER' | translate}}</option>
	                    </select>
		                <button class="input-group-append btn btn-info" (click)="lookingForSearch(lookingForSearchTerm)">
		                    <fa-icon [icon]="'search'"></fa-icon>
		                </button>
		                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="lookingForSearch">
		                    <fa-icon [icon]="'trash-alt'"></fa-icon>
		                </button>
		            </div>
		        </form>
		    </div>
		</div>
				
		<div class="row">
		    <div class="col-sm-12">
		        <form name="searchForm" class="form-inline">
		            <div class="input-group w-100 mt-3">
		                <label class="col-sm-3 col-form-label g-mb-10" for="autocomplete2">purpose:</label> 
	                    <select class="form-control" name="purpose" [(ngModel)]="purposeSearchTerm" id="field_purpose" >
	                        <option value="NOT_INTERESTED">{{'jhipsterpressApp.Purpose.NOT_INTERESTED' | translate}}</option>
	                        <option value="FRIENDSHIP">{{'jhipsterpressApp.Purpose.FRIENDSHIP' | translate}}</option>
	                        <option value="MEET_PEOPLE">{{'jhipsterpressApp.Purpose.MEET_PEOPLE' | translate}}</option>
	                        <option value="STABLE_RELATIONSHIP">{{'jhipsterpressApp.Purpose.STABLE_RELATIONSHIP' | translate}}</option>
	                        <option value="MARRIAGE">{{'jhipsterpressApp.Purpose.MARRIAGE' | translate}}</option>
	                        <option value="OTHER">{{'jhipsterpressApp.Purpose.OTHER' | translate}}</option>
	                    </select>
		                <button class="input-group-append btn btn-info" (click)="purposeSearch(purposeSearchTerm)">
		                    <fa-icon [icon]="'search'"></fa-icon>
		                </button>
		                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="purposeSearch">
		                    <fa-icon [icon]="'trash-alt'"></fa-icon>
		                </button>
		            </div>
		        </form>
		    </div>
		</div>
						
		<div class="row">
		    <div class="col-sm-12">
		        <form name="searchForm" class="form-inline">
		            <div class="input-group w-100 mt-3">
		                <label class="col-sm-3 col-form-label g-mb-10" for="autocomplete2">physical:</label> 
	                    <select class="form-control" name="physical" [(ngModel)]="physicalSearchTerm" id="field_physical" >
	                        <option value="NA">{{'jhipsterpressApp.Physical.NA' | translate}}</option>
	                        <option value="THIN">{{'jhipsterpressApp.Physical.THIN' | translate}}</option>
	                        <option value="ATHLETIC">{{'jhipsterpressApp.Physical.ATHLETIC' | translate}}</option>
	                        <option value="NORMAL">{{'jhipsterpressApp.Physical.NORMAL' | translate}}</option>
	                        <option value="CORPULENT">{{'jhipsterpressApp.Physical.CORPULENT' | translate}}</option>
	                        <option value="BULKY">{{'jhipsterpressApp.Physical.BULKY' | translate}}</option>
	                        <option value="OTHER">{{'jhipsterpressApp.Physical.OTHER' | translate}}</option>
	                    </select>
		                <button class="input-group-append btn btn-info" (click)="physicalSearch(physicalSearchTerm)">
		                    <fa-icon [icon]="'search'"></fa-icon>
		                </button>
		                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="physicalSearch">
		                    <fa-icon [icon]="'trash-alt'"></fa-icon>
		                </button>
		            </div>
		        </form>
		    </div>
		</div>
								
		<div class="row">
		    <div class="col-sm-12">
		        <form name="searchForm" class="form-inline">
		            <div class="input-group w-100 mt-3">
		                <label class="col-sm-3 col-form-label g-mb-10" for="autocomplete2">religion:</label> 
	                    <select class="form-control" name="religion" [(ngModel)]="religionSearchTerm" id="field_religion" >
	                        <option value="NA">{{'jhipsterpressApp.Religion.NA' | translate}}</option>
	                        <option value="ATHEIST">{{'jhipsterpressApp.Religion.ATHEIST' | translate}}</option>
	                        <option value="AGNOSTIC">{{'jhipsterpressApp.Religion.AGNOSTIC' | translate}}</option>
	                        <option value="CATHOLIC">{{'jhipsterpressApp.Religion.CATHOLIC' | translate}}</option>
	                        <option value="JEWISH">{{'jhipsterpressApp.Religion.JEWISH' | translate}}</option>
	                        <option value="ISLAMIC">{{'jhipsterpressApp.Religion.ISLAMIC' | translate}}</option>
	                        <option value="OTHER">{{'jhipsterpressApp.Religion.OTHER' | translate}}</option>
	                    </select>
		                <button class="input-group-append btn btn-info" (click)="religionSearch(religionSearchTerm)">
		                    <fa-icon [icon]="'search'"></fa-icon>
		                </button>
		                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="religionSearchTerm">
		                    <fa-icon [icon]="'trash-alt'"></fa-icon>
		                </button>
		            </div>
		        </form>
		    </div>
		</div>
										
		<div class="row">
		    <div class="col-sm-12">
		        <form name="searchForm" class="form-inline">
		            <div class="input-group w-100 mt-3">
		                <label class="col-sm-3 col-form-label g-mb-10" for="autocomplete2">ethnicGroup:</label> 
	                    <select class="form-control" name="ethnicGroup" [(ngModel)]="ethnicGroupSearchTerm" id="field_ethnicGroup" >
	                        <option value="NA">{{'jhipsterpressApp.EthnicGroup.NA' | translate}}</option>
	                        <option value="MIXED">{{'jhipsterpressApp.EthnicGroup.MIXED' | translate}}</option>
	                        <option value="WHITE">{{'jhipsterpressApp.EthnicGroup.WHITE' | translate}}</option>
	                        <option value="LATIN">{{'jhipsterpressApp.EthnicGroup.LATIN' | translate}}</option>
	                        <option value="GYPSY">{{'jhipsterpressApp.EthnicGroup.GYPSY' | translate}}</option>
	                        <option value="AFRO">{{'jhipsterpressApp.EthnicGroup.AFRO' | translate}}</option>
	                        <option value="HINDU">{{'jhipsterpressApp.EthnicGroup.HINDU' | translate}}</option>
	                        <option value="ARAB">{{'jhipsterpressApp.EthnicGroup.ARAB' | translate}}</option>
	                        <option value="ASIAN">{{'jhipsterpressApp.EthnicGroup.ASIAN' | translate}}</option>
	                        <option value="INDIAN">{{'jhipsterpressApp.EthnicGroup.INDIAN' | translate}}</option>
	                        <option value="OTHER">{{'jhipsterpressApp.EthnicGroup.OTHER' | translate}}</option>
	                    </select>
		                <button class="input-group-append btn btn-info" (click)="ethnicGroupSearch(ethnicGroupSearchTerm)">
		                    <fa-icon [icon]="'search'"></fa-icon>
		                </button>
		                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="ethnicGroupSearchTerm">
		                    <fa-icon [icon]="'trash-alt'"></fa-icon>
		                </button>
		            </div>
		        </form>
		    </div>
		</div>
												
		<div class="row">
		    <div class="col-sm-12">
		        <form name="searchForm" class="form-inline">
		            <div class="input-group w-100 mt-3">
		                <label class="col-sm-3 col-form-label g-mb-10" for="autocomplete2">studies:</label> 
	                    <select class="form-control" name="studies" [(ngModel)]="studiesSearchTerm" id="field_studies" >
	                        <option value="NA">{{'jhipsterpressApp.EthnicGroup.NA' | translate}}</option>
	                        <option value="MIXED">{{'jhipsterpressApp.EthnicGroup.MIXED' | translate}}</option>
	                        <option value="WHITE">{{'jhipsterpressApp.EthnicGroup.WHITE' | translate}}</option>
	                        <option value="LATIN">{{'jhipsterpressApp.EthnicGroup.LATIN' | translate}}</option>
	                        <option value="GYPSY">{{'jhipsterpressApp.EthnicGroup.GYPSY' | translate}}</option>
	                        <option value="AFRO">{{'jhipsterpressApp.EthnicGroup.AFRO' | translate}}</option>
	                        <option value="HINDU">{{'jhipsterpressApp.EthnicGroup.HINDU' | translate}}</option>
	                        <option value="ARAB">{{'jhipsterpressApp.EthnicGroup.ARAB' | translate}}</option>
	                        <option value="ASIAN">{{'jhipsterpressApp.EthnicGroup.ASIAN' | translate}}</option>
	                        <option value="INDIAN">{{'jhipsterpressApp.EthnicGroup.INDIAN' | translate}}</option>
	                        <option value="OTHER">{{'jhipsterpressApp.EthnicGroup.OTHER' | translate}}</option>
	                    </select>
		                <button class="input-group-append btn btn-info" (click)="studiesSearch(studiesSearchTerm)">
		                    <fa-icon [icon]="'search'"></fa-icon>
		                </button>
		                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="studiesSearchTerm">
		                    <fa-icon [icon]="'trash-alt'"></fa-icon>
		                </button>
		            </div>
		        </form>
		    </div>
		</div>
													
		<div class="row">
		    <div class="col-sm-12">
		        <form name="searchForm" class="form-inline">
		            <div class="input-group w-100 mt-3">
		                <label class="col-sm-3 col-form-label g-mb-10" for="autocomplete2">studies:</label> 
	                    <select class="form-control" name="studiesGroup" [(ngModel)]="studiesSearchTerm" id="field_studies" >
	                        <option value="NA">{{'jhipsterpressApp.Studies.NA' | translate}}</option>
	                        <option value="PRIMARY">{{'jhipsterpressApp.Studies.PRIMARY' | translate}}</option>
	                        <option value="HIGH_SCHOOL">{{'jhipsterpressApp.Studies.HIGH_SCHOOL' | translate}}</option>
	                        <option value="TECHNICAL">{{'jhipsterpressApp.Studies.TECHNICAL' | translate}}</option>
	                        <option value="COLLEGE">{{'jhipsterpressApp.Studies.COLLEGE' | translate}}</option>
	                        <option value="MASTER">{{'jhipsterpressApp.Studies.MASTER' | translate}}</option>
	                        <option value="DOCTORATE">{{'jhipsterpressApp.Studies.DOCTORATE' | translate}}</option>
	                        <option value="OTHER">{{'jhipsterpressApp.Studies.OTHER' | translate}}</option>
	                    </select>
		                <button class="input-group-append btn btn-info" (click)="studiesSearch(studiesSearchTerm)">
		                    <fa-icon [icon]="'search'"></fa-icon>
		                </button>
		                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="studiesSearchTerm">
		                    <fa-icon [icon]="'trash-alt'"></fa-icon>
		                </button>
		            </div>
		        </form>
		    </div>
		</div>
															
		<div class="row">
		    <div class="col-sm-12">
		        <form name="searchForm" class="form-inline">
		            <div class="input-group w-100 mt-3">
		                <label class="col-sm-3 col-form-label g-mb-10" for="autocomplete2">eyes:</label> 
	                    <select class="form-control" name="eyes" [(ngModel)]="eyesSearchTerm" id="field_eyes" >
	                        <option value="NA">{{'jhipsterpressApp.Eyes.NA' | translate}}</option>
	                        <option value="BLUE">{{'jhipsterpressApp.Eyes.BLUE' | translate}}</option>
	                        <option value="GREEN">{{'jhipsterpressApp.Eyes.GREEN' | translate}}</option>
	                        <option value="BROWN">{{'jhipsterpressApp.Eyes.BROWN' | translate}}</option>
	                        <option value="BLACK">{{'jhipsterpressApp.Eyes.BLACK' | translate}}</option>
	                        <option value="CHESTNUT">{{'jhipsterpressApp.Eyes.CHESTNUT' | translate}}</option>
	                        <option value="OTHER">{{'jhipsterpressApp.Eyes.OTHER' | translate}}</option>
	                    </select>
		                <button class="input-group-append btn btn-info" (click)="eyesSearch(eyesSearchTerm)">
		                    <fa-icon [icon]="'search'"></fa-icon>
		                </button>
		                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="eyesSearchTerm">
		                    <fa-icon [icon]="'trash-alt'"></fa-icon>
		                </button>
		            </div>
		        </form>
		    </div>
		</div>
																	
		<div class="row">
		    <div class="col-sm-12">
		        <form name="searchForm" class="form-inline">
		            <div class="input-group w-100 mt-3">
		                <label class="col-sm-3 col-form-label g-mb-10" for="autocomplete2">smoker:</label> 
	                    <select class="form-control" name="smoker" [(ngModel)]="smokerSearchTerm" id="field_smoker" >
	                        <option value="NA">{{'jhipsterpressApp.Smoker.NA' | translate}}</option>
	                        <option value="YES">{{'jhipsterpressApp.Smoker.YES' | translate}}</option>
	                        <option value="NO">{{'jhipsterpressApp.Smoker.NO' | translate}}</option>
	                        <option value="OCCASIONALLY">{{'jhipsterpressApp.Smoker.OCCASIONALLY' | translate}}</option>
	                    </select>
		                <button class="input-group-append btn btn-info" (click)="smokerSearch(smokerSearchTerm)">
		                    <fa-icon [icon]="'search'"></fa-icon>
		                </button>
		                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="smokerSearchTerm">
		                    <fa-icon [icon]="'trash-alt'"></fa-icon>
		                </button>
		            </div>
		        </form>
		    </div>
		</div>
																			
		<div class="row">
		    <div class="col-sm-12">
		        <form name="searchForm" class="form-inline">
		            <div class="input-group w-100 mt-3">
		                <label class="col-sm-3 col-form-label g-mb-10" for="autocomplete2">children:</label> 
	                    <select class="form-control" name="children" [(ngModel)]="childrenSearchTerm" id="field_children" >
	                        <option value="NA">{{'jhipsterpressApp.Children.NA' | translate}}</option>
	                        <option value="YES">{{'jhipsterpressApp.Children.YES' | translate}}</option>
	                        <option value="NO">{{'jhipsterpressApp.Children.NO' | translate}}</option>
	                        <option value="GREATER_THAN_18">{{'jhipsterpressApp.Children.GREATER_THAN_18' | translate}}</option>
	                    </select>
		                <button class="input-group-append btn btn-info" (click)="childrenSearch(childrenSearchTerm)">
		                    <fa-icon [icon]="'search'"></fa-icon>
		                </button>
		                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="childrenSearchTerm">
		                    <fa-icon [icon]="'trash-alt'"></fa-icon>
		                </button>
		            </div>
		        </form>
		    </div>
		</div>
																					
		<div class="row">
		    <div class="col-sm-12">
		        <form name="searchForm" class="form-inline">
		            <div class="input-group w-100 mt-3">
		                <label class="col-sm-3 col-form-label g-mb-10" for="autocomplete2">futureChildren:</label> 
	                    <select class="form-control" name="futureChildren" [(ngModel)]="futureChildrenSearchTerm" id="field_futureChildren" >
	                        <option value="NA">{{'jhipsterpressApp.FutureChildren.NA' | translate}}</option>
	                        <option value="YES">{{'jhipsterpressApp.FutureChildren.YES' | translate}}</option>
	                        <option value="NO">{{'jhipsterpressApp.FutureChildren.NO' | translate}}</option>
	                    </select>
		                <button class="input-group-append btn btn-info" (click)="futureChildrenSearch(futureChildrenSearchTerm)">
		                    <fa-icon [icon]="'search'"></fa-icon>
		                </button>
		                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="futureChildrenSearchTerm">
		                    <fa-icon [icon]="'trash-alt'"></fa-icon>
		                </button>
		            </div>
		        </form>
		    </div>
		</div>
		
		<div class="row">
		    <div class="col-sm-12">
		        <form name="searchForm" class="form-inline">
		            <div class="input-group w-100 mt-3">
		            	<label class="col-sm-3 col-form-label g-mb-10" for="autocomplete2">pet</label> 
		                <input type="checkbox" class="form-control" [(ngModel)]="petSearchTerm" id="field_pet" name="pet" placeholder="{{ 'jhipsterpressApp.post.home.search' | translate }}">
		                <button class="input-group-append btn btn-info" (click)="petSearch(petSearchTerm)">
		                    <fa-icon [icon]="'search'"></fa-icon>
		                </button>
		                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="petSearchTerm">
		                    <fa-icon [icon]="'trash-alt'"></fa-icon>
		                </button>
		            </div>
		        </form>
		    </div>
		</div>
				
		<div class="row">
		    <div class="col-sm-12">
		        <form name="searchForm" class="form-inline">
		            <div class="input-group w-100 mt-3">
		                <label class="col-sm-3 col-form-label g-mb-10" for="autocomplete2">sibblings</label>
		                <input type="number" class="form-control" [(ngModel)]="sibblingsSearchTerm" id="field_sibblings" name="sibblings" placeholder="{{ 'jhipsterpressApp.post.home.search' | translate }}">
		                <button class="input-group-append btn btn-info" (click)="sibblingsSearch(sibblingsSearchTerm)">
		                    <fa-icon [icon]="'search'"></fa-icon>
		                </button>
		                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="sibblingsSearchTerm">
		                    <fa-icon [icon]="'trash-alt'"></fa-icon>
		                </button>
		            </div>
		        </form>
		    </div>
		</div>
		
		<br/>
    </div>
</div>