<div>
	<div>
	    <h2 id="page-heading">
		<table style="width:100%">
		  <tr>
			<span jhiTranslate="jhipsterpressApp.photo.home.title">Photos</span>
		  </tr>
		  <tr>
		  <!-- 
		    <td>
		        <button style="margin:5px;" id="jh-my-entity" class="btn btn-primary float-left jh-create-entity create-blog" (click)="myUsersPhotos()">
		            <fa-icon [icon]="'plus'"></fa-icon>
		            <span  jhiTranslate="jhipsterpressApp.photo.home.myLabel">
		            My Photos
		            </span>
		        </button>
			</td>
			 -->
		    <td>
		        <button style="margin:5px;" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-photo" [routerLink]="['/photo/new']">
		            <fa-icon [icon]="'plus'"></fa-icon>
		            <span class="hidden-sm-down"  jhiTranslate="jhipsterpressApp.photo.home.createLabel">
		            Create new Photo
		            </span>
		        </button>
			</td>
		  </tr>
		</table>
		</h2>
    </div>
    <jhi-alert></jhi-alert>
    
    <div class="table-responsive" *ngIf="photos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creationDate"><span jhiTranslate="jhipsterpressApp.photo.creationDate">Creation Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="image"><span jhiTranslate="jhipsterpressApp.photo.image">Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="albumTitle"><span jhiTranslate="jhipsterpressApp.photo.album">Album</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="calbumTitle"><span jhiTranslate="jhipsterpressApp.photo.calbum">Calbum</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let photo of photos ;trackBy: trackId">
                <td><a [routerLink]="['/photo', photo.id, 'view' ]">{{photo.id}}</a></td>
                <td>{{photo.creationDate | date:'MMM d, y, h:mm a'}}</td>
                <td>
                    <a *ngIf="photo.image" (click)="openFile(photo.imageContentType, photo.image)">
                        <img [src]="'data:' + photo.imageContentType + ';base64,' + photo.image" style="max-height: 30px;" alt="photo image"/>
                    </a>
                    <span *ngIf="photo.image">{{photo.imageContentType}}, {{byteSize(photo.image)}}</span>
                </td>
                <td>
                    <div *ngIf="photo.albumId">
                        <a [routerLink]="['../album', photo.albumId , 'view' ]" >{{photo.albumTitle}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="photo.calbumId">
                        <a [routerLink]="['../calbum', photo.calbumId , 'view' ]" >{{photo.calbumTitle}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/photo', photo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
						<button *ngIf="owner === photo?.albumUserId || owner === photo?.cAlbumUserId || isAdmin == true"
								type="submit"
                                [routerLink]="['/photo', photo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
						<button *ngIf="owner === photo?.albumUserId || owner === photo?.cAlbumUserId || isAdmin == true"
								type="submit"
                                [routerLink]="['/', 'photo', { outlets: { popup: photo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="photos && photos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
