<div>
	<div>
	    <h2 id="page-heading">
		<table style="width:100%">
		  <tr>
			<span jhiTranslate="jhipsterpressApp.blog.home.title">Blogs</span>
		  </tr>
		  <tr>
		    <td>
		        <button style="margin:5px;" id="jh-my-entity" class="btn btn-primary float-right jh-create-entity create-blog" (click)="myBlogs()">
		            <fa-icon [icon]="'plus'"></fa-icon>
		            <span  jhiTranslate="jhipsterpressApp.blog.home.myLabel">
		            My Blogs
		            </span>
		        </button>
			</td>
		    <td>
		        <button style="margin:5px;" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-message" [routerLink]="['/blog/new']">
		            <fa-icon [icon]="'plus'"></fa-icon>
		            <span  jhiTranslate="jhipsterpressApp.blog.home.createLabel">
		            Create new Blog
		            </span>
		        </button>
			</td> 
		  </tr>
		</table>
		</h2>
    </div>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jhipsterpressApp.blog.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
	
	 <!-- User Blocks v16 https://htmlstream.com/public/preview/unify-v2.5.1/unify-main/shortcodes/shortcode-blocks-users.html-->
      <section class="g-bg-secondary g-py-100">
        <div class="container" *ngFor="let blog of blogs ;trackBy: trackId">
          <div id="shortcode16">
            <div class="shortcode-html">
              <!-- Users -->
              <div class="row g-mb-70">
                <div class="col-md-12 g-mb-30">
                  <!-- Listing - Agents -->
                  <div class="u-shadow-v11 text-center">
                    <div class="g-bg-white g-pa-20">
                      <div class="g-width-130 g-height-130 mx-auto mb-4">
				        <!-- Figure Image -->
				        <a *ngIf="blog.image" (click)="openFile(blog.imageContentType, blog.image)">
				            <img [src]="'data:' + blog.imageContentType + ';base64,' + blog.image" style="max-width: 100%;" alt="blog image"/>
				        </a>
	
				        <!-- Figure Image -->
                      </div>
                      <div class="mb-3">
                        <h2 class="h3 mb-4"><a class="u-link-v5 g-color-main g-color-primary--hover" [routerLink]="['/blog', blog.id, 'view' ]">{{blog.title}}</a></h2>
	        			<p class="g-font-size-13">{{blog.creationDate | date:'MMM d, y, h:mm a'}}</p>
                      </div>
						<!-- Info -->
						<div class="btn-group flex-btn-group-container">
	                        <button type="submit"
	                                [routerLink]="['/blog', blog.id, 'view' ]"
	                                class="btn btn-info btn-sm">
	                            <fa-icon [icon]="'eye'"></fa-icon>
	                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
	                        </button>
	                        <button *ngIf="owner === blog.userId || isAdmin == true"
	                        		type="submit"
	                                [routerLink]="['/blog', blog.id, 'edit']"
	                                class="btn btn-primary btn-sm">
	                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
	                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
	                        </button>
	                        <button *ngIf="owner === blog.userId || isAdmin == true"
	                        		type="submit"
	                                [routerLink]="['/', 'blog', { outlets: { popup: blog.id + '/delete'} }]"
	                                replaceUrl="true"
	                                queryParamsHandling="merge"
	                                class="btn btn-danger btn-sm">
	                            <fa-icon [icon]="'times'"></fa-icon>
	                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
	                        </button>
	                    </div>
				        <!-- End Info -->
                    </div>
                  <!-- End Listing - Agents -->
                </div>
              </div>
              <!-- End Users -->
            </div>
          </div>
        </div>
      </section>
      <!-- End User Blocks v16 -->
	
	<!-- End News Section -->
	<div *ngIf="blogs && blogs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>


<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterpressApp.blog.home.title">Blogs</span>
        <button style="margin:5px;" id="jh-my-entity" class="btn btn-primary float-right jh-create-entity create-blog" (click)="myBlogs()">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterpressApp.blog.home.myLabel">
            My Blogs
            </span>
        </button>
        <button style="margin:5px;" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-message" [routerLink]="['/blog/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterpressApp.blog.home.createLabel">
            Create new Blog
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="blogs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creationDate"><span jhiTranslate="jhipsterpressApp.blog.creationDate">Creation Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="jhipsterpressApp.blog.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="image"><span jhiTranslate="jhipsterpressApp.blog.image">Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="communityCommunityName"><span jhiTranslate="jhipsterpressApp.blog.community">Community</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let blog of blogs ;trackBy: trackId">
                <td><a [routerLink]="['/blog', blog.id, 'view' ]">{{blog.id}}</a></td>
                <td>{{blog.creationDate | date:'MMM d, y, h:mm a'}}</td>
                <td>{{blog.title}}</td>
                <td>
                    <a *ngIf="blog.image" (click)="openFile(blog.imageContentType, blog.image)">
                        <img [src]="'data:' + blog.imageContentType + ';base64,' + blog.image" style="max-height: 30px;" alt="blog image"/>
                    </a>
                    <span *ngIf="blog.image">{{blog.imageContentType}}, {{byteSize(blog.image)}}</span>
                </td>
                <td>
                    <div *ngIf="blog.communityId">
                        <a [routerLink]="['../community', blog.communityId , 'view' ]" >{{blog.communityCommunityName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/blog', blog.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
	                        <button *ngIf="owner === blog.userId || isAdmin == true"
	                        		type="submit"
                                	[routerLink]="['/blog', blog.id, 'edit']"
                                	class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
	                        <button *ngIf="owner === blog.userId || isAdmin == true"
	                        		type="submit"
                                	[routerLink]="['/', 'blog', { outlets: { popup: blog.id + '/delete'} }]"
                                	replaceUrl="true"
                                	queryParamsHandling="merge"
                                	class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="blogs && blogs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
