<div class="row justify-content-center">
    <div class="col-lg-8 col-md-12">
        <div *ngIf="blog">
            <h2><span>{{blog.title}}</span></h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <a *ngIf="blog.image" (click)="openFile(blog.imageContentType, blog.image)">
            	<img [src]="'data:' + blog.imageContentType + ';base64,' + blog.image" style="max-width: 100%;" alt="blog image"/>
        	</a>
            
	        <div class="g-brd-around g-brd-secondary-light-v2 g-bg-white g-pa-20">
	        <!-- <h3 class="g-font-size-16"><a class="u-link-v5 g-color-main g-color-primary--hover" [routerLink]="['/blog', blog.id, 'view' ]">{{blog.title}}</a></h3>  -->
	        <p class="g-font-size-13">{{blog.creationDate | date:'MMM d, y, h:mm a'}}</p>
			
				<h3><span jhiTranslate="jhipsterpressApp.blog.detail.blogposts">Blogs´ Posts</span></h3>
		           
				<div class="table-responsive" *ngIf="posts">
			        <table class="table table-striped">
			            <thead>
			            <th><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
			            <th><span jhiTranslate="jhipsterpressApp.post.creationDate">Creation Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
			            <th><span jhiTranslate="jhipsterpressApp.post.headline">Headline</span> <fa-icon [icon]="'sort'"></fa-icon></th>
			            <th><span jhiTranslate="jhipsterpressApp.post.image">Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
			            <th></th>
			            </tr>
			            </thead>
			            <tbody>
			            <tr *ngFor="let post of posts">
			                <td><a [routerLink]="['/post', post.id, 'view' ]">{{post.id}}</a></td>
			                <td>{{post.creationDate | date:'MMM d, y, h:mm a'}}</td>
			                <td><a [routerLink]="['/post', post.id, 'view' ]">{{post.headline}}</a></td>
			                <td>
			                    <a *ngIf="post.image" (click)="openFile(post.imageContentType, post.image)">
			                        <img [src]="'data:' + post.imageContentType + ';base64,' + post.image" style="max-height: 30px;" alt="post image"/>
			                    </a>
			                    <!-- <span *ngIf="post.image">{{post.imageContentType}}, {{byteSize(post.image)}}</span>  -->
			                </td>
			            </tr>
			            </tbody>
			        </table>
			    </div>
			    
			    <div *ngIf="posts && posts.length">
			        <div class="row justify-content-center">
			            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
			        </div>
			        <div class="row justify-content-center">
			            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
			        </div>
			    </div>
							    
	            <button type="submit"
	                    (click)="previousState()"
	                    class="btn btn-info">
	                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
	            </button>
				<!--
	            <button type="button"
	                    [routerLink]="['/blog', blog.id, 'edit']"
	                    class="btn btn-primary">
	                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
	            </button>
	            -->
	        </div>
	    </div>
	</div>
</div>
