<div class="row justify-content-center">
        <div class="col-8" *ngIf="isAllowedUser; else blockedResults">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-message-heading" jhiTranslate="jhipsterpressApp.message.home.createOrEditLabel">Create or edit a Message</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!message.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="message.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterpressApp.message.creationDate" for="field_creationDate">Creation Date</label>
                    <div class="d-flex">
                        <input id="field_creationDate" type="datetime-local" class="form-control" name="creationDate" [(ngModel)]="creationDate" placeholder="YYYY-MM-DD HH:mm"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.creationDate?.dirty && editForm.controls.creationDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.creationDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.creationDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterpressApp.message.messageText" for="field_messageText">Message Text</label>
                    <textarea type="text" rows="4" cols="50" class="form-control" name="messageText" id="field_messageText"
                        [(ngModel)]="message.messageText" required minlength="2" maxlength="8000"></textarea>
                    <div [hidden]="!(editForm.controls.messageText?.dirty && editForm.controls.messageText?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.messageText?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.messageText?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
                        This field is required to be at least 2 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.messageText?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 8000 }">
                        This field cannot be longer than 8000 characters.
                        </small>
                    </div>
                </div>
                <!--
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterpressApp.message.isDelivered" for="field_isDelivered">Is Delivered</label>
                    <input type="checkbox" class="form-control" name="isDelivered" id="field_isDelivered"
                        [(ngModel)]="message.isDelivered" />
                </div>
				 -->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterpressApp.message.sender" for="field_sender">Sender</label>
                    <input type="text" class="form-control" id="field_sender" name="sender" [(ngModel)]="message.senderId" >
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterpressApp.message.receiver" for="field_receiver">Receiver</label>
                    <input type="text" class="form-control" id="field_receiver" name="receiver" [(ngModel)]="message.receiverId" >
                </div>
                <!--
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterpressApp.message.sender" for="field_sender">Sender</label>
                    <select class="form-control" id="field_sender" name="sender" [(ngModel)]="message.senderId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterpressApp.message.receiver" for="field_receiver">Receiver</label>
                    <select class="form-control" id="field_receiver" name="receiver" [(ngModel)]="message.receiverId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
                  -->
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
    <ng-template #blockedResults>
	  <h2 id="page-heading" jhiTranslate="jhipsterpressApp.message.home.blockedByuser">Your messages are blocked by this user</h2>
	</ng-template
</div>
