<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-vthumb-heading" jhiTranslate="jhipsterpressApp.vthumb.home.createOrEditLabel">Create or edit a Vthumb</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!vthumb.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="vthumb.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterpressApp.vthumb.creationDate" for="field_creationDate">Creation Date</label>
                    <div class="d-flex">
                        <input id="field_creationDate" type="datetime-local" class="form-control" name="creationDate" [(ngModel)]="creationDate" placeholder="YYYY-MM-DD HH:mm"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.creationDate?.dirty && editForm.controls.creationDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.creationDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.creationDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterpressApp.vthumb.vthumbUp" for="field_vthumbUp">Vthumb Up</label>
                    <input type="checkbox" class="form-control" name="vthumbUp" id="field_vthumbUp"
                        [(ngModel)]="vthumb.vthumbUp" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterpressApp.vthumb.vthumbDown" for="field_vthumbDown">Vthumb Down</label>
                    <input type="checkbox" class="form-control" name="vthumbDown" id="field_vthumbDown"
                        [(ngModel)]="vthumb.vthumbDown" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterpressApp.vthumb.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="vthumb.userId"  required>
                        <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.user?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterpressApp.vthumb.vquestion" for="field_vquestion">Vquestion</label>
                    <select class="form-control" id="field_vquestion" name="vquestion" [(ngModel)]="vthumb.vquestionId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="vquestionOption.id" *ngFor="let vquestionOption of vquestions; trackBy: trackVquestionById">{{vquestionOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterpressApp.vthumb.vanswer" for="field_vanswer">Vanswer</label>
                    <select class="form-control" id="field_vanswer" name="vanswer" [(ngModel)]="vthumb.vanswerId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="vanswerOption.id" *ngFor="let vanswerOption of vanswers; trackBy: trackVanswerById">{{vanswerOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
