<div>
	<div>
	    <h2 id="page-heading">
		<table style="width:100%">
		  <tr>
			<span jhiTranslate="jhipsterpressApp.calbum.home.title">Calbums</span>
		  </tr>
		  <tr>
		    <td>
		        <button id="jh-my-entity" class="btn btn-primary float-left jh-create-entity create-blog" (click)="myCalbums()">
		            <fa-icon [icon]="'plus'"></fa-icon>
		            <span  jhiTranslate="jhipsterpressApp.calbum.home.myLabel">
		            My Calbum
		            </span>
		        </button>
			</td>
		    <td>
		        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-calbum" [routerLink]="['/calbum/new']">
		            <fa-icon [icon]="'plus'"></fa-icon>
		            <span class="hidden-sm-down"  jhiTranslate="jhipsterpressApp.calbum.home.createLabel">
		            Create new Calbum
		            </span>
		        </button>
			</td> 
		  </tr>
		</table>
		</h2>
    </div>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jhipsterpressApp.calbum.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    
    <div class="table-responsive" *ngIf="calbums">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creationDate"><span jhiTranslate="jhipsterpressApp.calbum.creationDate">Creation Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="jhipsterpressApp.calbum.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="communityCommunityName"><span jhiTranslate="jhipsterpressApp.calbum.community">Community</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let calbum of calbums ;trackBy: trackId">
                <td><a [routerLink]="['/calbum', calbum.id, 'view' ]">{{calbum.id}}</a></td>
                <td>{{calbum.creationDate | date:'MMM d, y, h:mm a'}}</td>
                <td>{{calbum.title}}</td>
                <td>
                    <div *ngIf="calbum.communityId">
                        <a [routerLink]="['../community', calbum.communityId , 'view' ]" >{{calbum.communityCommunityName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/calbum', calbum.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button *ngIf="owner === calbum.userId || isAdmin == true"
                        		[routerLink]="['/calbum', calbum.id, 'edit']"
                        		type="submit"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *ngIf="owner === calbum.userId || isAdmin == true"
                        		[routerLink]="['/', 'calbum', { outlets: { popup: calbum.id + '/delete'} }]"
                        		type="submit"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="calbums && calbums.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
