<div class="row justify-content-center">
    <div class="col-lg-8 col-md-12">
        <div *ngIf="topic">
            <h2><span jhiTranslate="jhipsterpressApp.topic.detail.title">Topic</span> {{topic.topicName}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>

				<h3><span jhiTranslate="jhipsterpressApp.blog.detail.blogposts">Blogs´ Posts</span></h3>
		           
				<div class="table-responsive" *ngIf="topic.posts">
			        <table class="table table-striped">
			            <thead>
			            <th><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
			            <th><span jhiTranslate="jhipsterpressApp.post.creationDate">Creation Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
			            <th><span jhiTranslate="jhipsterpressApp.post.headline">Headline</span> <fa-icon [icon]="'sort'"></fa-icon></th>
			            <th><span jhiTranslate="jhipsterpressApp.post.image">Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
			            <th></th>
			            </tr>
			            </thead>
			            <tbody>
			            <tr  *ngFor="let post of topic.posts; let last = last">
			                <td><a [routerLink]="['/post', post.id, 'view' ]">{{post.id}}</a></td>
			                <td>{{post.creationDate | date:'MMM d, y, h:mm a'}}</td>
			                <td><a [routerLink]="['/post', post.id, 'view' ]">{{post.headline}}</a></td>
			                <td>
			                    <a *ngIf="post.image" (click)="openFile(post.imageContentType, post.image)">
			                        <img [src]="'data:' + post.imageContentType + ';base64,' + post.image" style="max-height: 30px;" alt="post image"/>
			                    </a>
			                    <!-- <span *ngIf="post.image">{{post.imageContentType}}, {{byteSize(post.image)}}</span>  -->
			                </td>
			            </tr>
			            </tbody>
			        </table>
			    </div>
			    
			    <div *ngIf="posts && posts.length">
			        <div class="row justify-content-center">
			            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
			        </div>
			        <div class="row justify-content-center">
			            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
			        </div>
			    </div>
			    
			    
			    
			    
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
			<!--
            <button type="button"
                    [routerLink]="['/topic', topic.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
             -->
        </div>
    </div>
</div>
