<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="frontpageconfig">
            <h2><span jhiTranslate="jhipsterpressApp.frontpageconfig.detail.title">Frontpageconfig</span> {{frontpageconfig.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{frontpageconfig.creationDate}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.topNews1">Top News 1</span></dt>
                <dd>
                    <span>{{frontpageconfig.topNews1}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.topNews2">Top News 2</span></dt>
                <dd>
                    <span>{{frontpageconfig.topNews2}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.topNews3">Top News 3</span></dt>
                <dd>
                    <span>{{frontpageconfig.topNews3}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.topNews4">Top News 4</span></dt>
                <dd>
                    <span>{{frontpageconfig.topNews4}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.topNews5">Top News 5</span></dt>
                <dd>
                    <span>{{frontpageconfig.topNews5}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.latestNews1">Latest News 1</span></dt>
                <dd>
                    <span>{{frontpageconfig.latestNews1}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.latestNews2">Latest News 2</span></dt>
                <dd>
                    <span>{{frontpageconfig.latestNews2}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.latestNews3">Latest News 3</span></dt>
                <dd>
                    <span>{{frontpageconfig.latestNews3}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.latestNews4">Latest News 4</span></dt>
                <dd>
                    <span>{{frontpageconfig.latestNews4}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.latestNews5">Latest News 5</span></dt>
                <dd>
                    <span>{{frontpageconfig.latestNews5}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.breakingNews1">Breaking News 1</span></dt>
                <dd>
                    <span>{{frontpageconfig.breakingNews1}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.recentPosts1">Recent Posts 1</span></dt>
                <dd>
                    <span>{{frontpageconfig.recentPosts1}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.recentPosts2">Recent Posts 2</span></dt>
                <dd>
                    <span>{{frontpageconfig.recentPosts2}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.recentPosts3">Recent Posts 3</span></dt>
                <dd>
                    <span>{{frontpageconfig.recentPosts3}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.recentPosts4">Recent Posts 4</span></dt>
                <dd>
                    <span>{{frontpageconfig.recentPosts4}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.featuredArticles1">Featured Articles 1</span></dt>
                <dd>
                    <span>{{frontpageconfig.featuredArticles1}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.featuredArticles2">Featured Articles 2</span></dt>
                <dd>
                    <span>{{frontpageconfig.featuredArticles2}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.featuredArticles3">Featured Articles 3</span></dt>
                <dd>
                    <span>{{frontpageconfig.featuredArticles3}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.featuredArticles4">Featured Articles 4</span></dt>
                <dd>
                    <span>{{frontpageconfig.featuredArticles4}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.featuredArticles5">Featured Articles 5</span></dt>
                <dd>
                    <span>{{frontpageconfig.featuredArticles5}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.featuredArticles6">Featured Articles 6</span></dt>
                <dd>
                    <span>{{frontpageconfig.featuredArticles6}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.featuredArticles7">Featured Articles 7</span></dt>
                <dd>
                    <span>{{frontpageconfig.featuredArticles7}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.featuredArticles8">Featured Articles 8</span></dt>
                <dd>
                    <span>{{frontpageconfig.featuredArticles8}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.featuredArticles9">Featured Articles 9</span></dt>
                <dd>
                    <span>{{frontpageconfig.featuredArticles9}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.featuredArticles10">Featured Articles 10</span></dt>
                <dd>
                    <span>{{frontpageconfig.featuredArticles10}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.popularNews1">Popular News 1</span></dt>
                <dd>
                    <span>{{frontpageconfig.popularNews1}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.popularNews2">Popular News 2</span></dt>
                <dd>
                    <span>{{frontpageconfig.popularNews2}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.popularNews3">Popular News 3</span></dt>
                <dd>
                    <span>{{frontpageconfig.popularNews3}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.popularNews4">Popular News 4</span></dt>
                <dd>
                    <span>{{frontpageconfig.popularNews4}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.popularNews5">Popular News 5</span></dt>
                <dd>
                    <span>{{frontpageconfig.popularNews5}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.popularNews6">Popular News 6</span></dt>
                <dd>
                    <span>{{frontpageconfig.popularNews6}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.popularNews7">Popular News 7</span></dt>
                <dd>
                    <span>{{frontpageconfig.popularNews7}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.popularNews8">Popular News 8</span></dt>
                <dd>
                    <span>{{frontpageconfig.popularNews8}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.weeklyNews1">Weekly News 1</span></dt>
                <dd>
                    <span>{{frontpageconfig.weeklyNews1}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.weeklyNews2">Weekly News 2</span></dt>
                <dd>
                    <span>{{frontpageconfig.weeklyNews2}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.weeklyNews3">Weekly News 3</span></dt>
                <dd>
                    <span>{{frontpageconfig.weeklyNews3}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.weeklyNews4">Weekly News 4</span></dt>
                <dd>
                    <span>{{frontpageconfig.weeklyNews4}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.newsFeeds1">News Feeds 1</span></dt>
                <dd>
                    <span>{{frontpageconfig.newsFeeds1}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.newsFeeds2">News Feeds 2</span></dt>
                <dd>
                    <span>{{frontpageconfig.newsFeeds2}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.newsFeeds3">News Feeds 3</span></dt>
                <dd>
                    <span>{{frontpageconfig.newsFeeds3}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.newsFeeds4">News Feeds 4</span></dt>
                <dd>
                    <span>{{frontpageconfig.newsFeeds4}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.newsFeeds5">News Feeds 5</span></dt>
                <dd>
                    <span>{{frontpageconfig.newsFeeds5}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.newsFeeds6">News Feeds 6</span></dt>
                <dd>
                    <span>{{frontpageconfig.newsFeeds6}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.usefulLinks1">Useful Links 1</span></dt>
                <dd>
                    <span>{{frontpageconfig.usefulLinks1}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.usefulLinks2">Useful Links 2</span></dt>
                <dd>
                    <span>{{frontpageconfig.usefulLinks2}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.usefulLinks3">Useful Links 3</span></dt>
                <dd>
                    <span>{{frontpageconfig.usefulLinks3}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.usefulLinks4">Useful Links 4</span></dt>
                <dd>
                    <span>{{frontpageconfig.usefulLinks4}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.usefulLinks5">Useful Links 5</span></dt>
                <dd>
                    <span>{{frontpageconfig.usefulLinks5}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.usefulLinks6">Useful Links 6</span></dt>
                <dd>
                    <span>{{frontpageconfig.usefulLinks6}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.recentVideos1">Recent Videos 1</span></dt>
                <dd>
                    <span>{{frontpageconfig.recentVideos1}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.recentVideos2">Recent Videos 2</span></dt>
                <dd>
                    <span>{{frontpageconfig.recentVideos2}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.recentVideos3">Recent Videos 3</span></dt>
                <dd>
                    <span>{{frontpageconfig.recentVideos3}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.recentVideos4">Recent Videos 4</span></dt>
                <dd>
                    <span>{{frontpageconfig.recentVideos4}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.recentVideos5">Recent Videos 5</span></dt>
                <dd>
                    <span>{{frontpageconfig.recentVideos5}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterpressApp.frontpageconfig.recentVideos6">Recent Videos 6</span></dt>
                <dd>
                    <span>{{frontpageconfig.recentVideos6}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/frontpageconfig', frontpageconfig.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
