<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cinterest">
            <h2><span jhiTranslate="jhipsterpressApp.cinterest.interestName">Cinterest</span>: {{cinterest.interestName}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterpressApp.cinterest.community">Community</span></dt>
                <dd>
                    <span *ngFor="let community of cinterest.communities; let last = last">
                    	<img [src]="'data:' + community.imageContentType + ';base64,' + community.image" style="max-height: 100px;" *ngIf="community.image" alt="community image"/>
                        <a [routerLink]="['/community', community?.id, 'view' ]">{{community.communityName}}</a>{{last ? '' : ', '}}<br>
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
			<!--
            <button type="button"
                    [routerLink]="['/cinterest', cinterest.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
             -->
        </div>
    </div>
</div>
